*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clear{
    clear: both;
}
.link{
    color: red;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 20px;
    display: block;
}
.heading6{
    display: inline-block;
    font-size: 15px;
    font-style: italic;
    font-weight: 700;
}
.border-bottom{
    border-bottom: 2px dashed red;
}
.mg {
    margin-left: 15%;
    margin-right: 15%;
}
#header{
    margin-top: 40px;
    margin-bottom: 20px;
}
img{
    width: 150px;
    padding-bottom: 10px;
}
#total-info{
    display: inline-block;
    float: right ;
    text-align: right;
    line-height: 1.4;
    padding-top: 80px;
}
#total-info .first{
    font-weight: 700;
}
#Academic,#Language,#Other,#Professional,#Experience,
#presentation{
    line-height: 1.4;
}
#Experience .link{
    margin-bottom: 0px;
}
h4{
    display: inline-block;
}
.company{
    float: right;
}
.company p{
    text-align: right;
}
.last{
    max-width: 50%;
}

